html, body {
  height: 100%;
  overflow: hidden;
  position: relative;
}

#fileDialog, #out {
    display: none;
}

.container {
    margin: 10px;
}

.save-file {
    position: absolute;
    bottom: 10px;
}